.section {
  overflow-x: hidden;
}

.video-carousel {
  display: flex;
  overflow-x: hidden;
  width: 100%;
  margin: 40px;
}

.video-item {
  flex: 0 0 auto;
  margin: 0 10px;
  transition: transform 0.3s ease;
  width: 80vw;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-item {
  position: relative;
}

.like-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
  z-index: 1;
}

.like-button.liked {
  color: #f00;
}

.video-item iframe {
  width: 100%;
  height: 100%;
}

.controls {
  text-align: center;
  margin: 0 auto;
}

.scroll-buttons {
  display: none;
}

.like-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  color: #000;
  font-weight: bold;
  transition: color 0.3s ease;
}

.like-button.liked {
  color: #f00;
}

@media screen and (max-width: 500px) {
  .section {
    margin: 0;
  }

  .video-carousel {
    flex-direction: column;
    height: 100%;
  }

  .video-item {
    margin: 0;
    height: 100vh;
    width: 100%;
  }

  .controls {
    display: none;
  }

  .scroll-buttons {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    display: flex;
    flex-direction: column;
  }

  .scroll-buttons button {
    margin-bottom: 10px;
  }
}
